.signin {
	background: linear-gradient(180deg, #182738 0%, #1f4b7d 100%);
	height: 50vh;
	display: flex;
	justify-content: center;
}

.signin__Carousel {
	height: 20vh;
	width: 60vw;
}

.signin__Carousel h2 {
	color: aqua;
}
