@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.contact {
	font-family: 'Lato', sans-serif;
}

.contact__header {
	background: linear-gradient(180deg, #182637 0%, rgba(34, 93, 161, 0) 238.01%), #225da1;
	width: 100vw;
	height: 400px;
	color: white;
}

.contact__title {
	padding-top: 150px;
	padding-bottom: 100px;
}

	.contact__title p {
		color: white;
		font-weight: normal;
		font-size: 80px;
		line-height: 95px;
		text-align: center;
	}

.contact__main {
	background: #e5e5e5;
	padding: 0 12vw;
	padding-top: 150px;
	padding-bottom: 150px;
}

	.contact__main p {
		padding-left: 50px;
	}

	.contact__main h1 {
		color: black;
		font-weight: normal;
		font-size: 35px;
		line-height: 50px;
		text-align: left;
		border-bottom: 1px solid black;
	}

	.contact__main span {
		font-weight: bold;
	}

	.contact__main ul {
		padding-left: 50px;
	}

	.contact__main h2 {
		color: black;
		font-weight: bold;
		font-size: 17px;
		line-height: 32px;
		text-align: left;
	}

	.contact__main h3 {
		color: black;
		font-weight: bold;
		font-size: 15px;
		line-height: 30px;
		text-align: left;
	}

.contact__descimg {
	width: 25%;
}

.contact__footer {
	background: #182637;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10vw;
	padding-top: 125px;
	padding-bottom: 125px;
	color: white;
	font-family: 'Lato', sans-serif;
}

.contact__footerleft img {
	padding-bottom: 25px;
}

.contact__footerleft p {
	font-size: 15px;
	line-height: 15px;
}

.contact__footerright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
}

	.contact__footerright p {
		font-size: 15px;
		line-height: 20px;
	}

.contact__footer a {
	color: white;
}

	.contact__footer a:hover {
		color: #efaf45;
	}
