@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.login {
	font-family: 'Lato', sans-serif;
	background: linear-gradient(180deg, #182738 0%, #1f4b7d 100%);
	height: 100%;
	width: 100%;
}

.login__logo {
	padding-top: 20px;
	padding-left: 50px;
}

.login__logo > img:hover {
	cursor: pointer;
}

.login__slider {
	padding: 14vh 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login__slidescontainer {
	display: flex;

	z-index: 2;
	width: 400px;
	position: relative;
	overflow: hidden;
}

.slide-1,
.slide-2 {
	background: #fff;
	display: flex;
	flex-direction: column;
	width: 400px;
	height: max-content;
	border-radius: 5px;
	border: 1px solid lightgray;
	padding: 20px;
}

.slide-2 {
	position: absolute;
	right: -400px;
	transition: 0.5s ease-in-out;
	border-radius: 8px;
}

.slide-2__heading {
	display: flex;
	margin-top: 15px;
}

.slide-2__heading > a {
	color: #000;
}

.slide-2__text {
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 25px;
}

.slide-1 > h1,
.slide-2__heading > h1 {
	font-size: 20px;
	line-height: 25px;
	font-weight: 500;
	margin: 25px 0;
	text-align: center;
}

.slide-2__heading > h1 {
	margin-top: 0;
	margin-left: 25%;
}

.slide-2 .fas:hover {
	cursor: pointer;
}

.slide-1 > form > h5,
.slide-2 > form > h5 {
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: normal;
}

.slide-1 > form > input,
.slide-2 > form > input {
	height: 30px;
	margin-bottom: 20px;
	background-color: white;
	width: 98%;
	border-radius: 7px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	font-size: 17px;
	padding: 22px 0;
	padding-left: 5px;
}

.slide-1__passrem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slide-1__rem label {
	padding-left: 5px;
}

.slide-1__pass:hover {
	cursor: pointer;
}

.slide-1__pass a {
	text-decoration: none;
	color: #225da1;
}

.login__btn,
.resetpass__btn {
	background-color: #225da1;
	border: 1px solid #225da1;
	border-radius: 4px;
	width: 100%;
	height: 35px;
	margin-top: 30px;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
}

.resetpass__btn {
	margin-top: 100px;
	margin-bottom: 20px;
}

.error {
	text-align: center;
	color: #e62020;
	margin-top: 10px;
}

.slide-1__signup {
	text-align: center;
	margin-top: 25px;
}

.slide-1__signup a {
	text-decoration: none;
	color: #225da1;
}

.login__footer {
	text-align: center;
	color: #fff;
	padding-bottom: 5px;
}

/* editing all svgs */
.svg__one {
	position: absolute;
	top: 100px;
	left: 0px;
}

.svg__two {
	position: absolute;
	left: 0px;
	top: 100px;
	opacity: 0.3;
}

.svg__three {
	position: absolute;
	top: 70px;
	right: 0;
	opacity: 0.6;
}

.svg__four {
	position: absolute;
	right: 0;
	bottom: 15px;
}

.svg__five {
	position: absolute;
	bottom: 0;
	left: 30%;
}
/* finished editing svgs */

@media screen and (max-width: 800px) {
	.login__slidescontainer {
		width: 350px;
	}
}

@media screen and (max-width: 600px) {
	.login__slidescontainer {
		width: 300px;
	}
}
