@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.privacy {
	font-family: 'Lato', sans-serif;
}
.privacy__header {
	background: linear-gradient(180deg, #182637 0%, rgba(34, 93, 161, 0) 238.01%),
		#225da1;
	width: 100vw;
	height: 400px;
	color: white;
}

.privacy__title {
	padding-top: 150px;
	padding-bottom: 100px;
}

.privacy__title p {
	color: white;
	font-weight: normal;
	font-size: 80px;
	line-height: 95px;
	text-align: center;
}

.privacy__main {
	background: #e5e5e5;
	padding: 0 12vw;
	padding-top: 150px;
	padding-bottom: 150px;
}

.privacy__main p {
	padding-left: 50px;
}

.privacy__main h1 {
	color: black;
	font-weight: normal;
	font-size: 35px;
	line-height: 50px;
	text-align: left;
	border-bottom: 1px solid black;
}

.privacy__main span {
	font-weight: bold;
}

.privacy__main ul {
	padding-left: 50px;
}

.privacy__main h2 {
	color: black;
	font-weight: bold;
	font-size: 17px;
	line-height: 32px;
	text-align: left;
}

.privacy__main h3 {
	color: black;
	font-weight: bold;
	font-size: 15px;
	line-height: 30px;
	text-align: left;
}

.privacy__descimg {
	width: 25%;
}
