@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.privacy {
	font-family: 'Lato', sans-serif;
}
.privacy__header {
	background: linear-gradient(180deg, #182637 0%, rgba(34, 93, 161, 0) 238.01%),
		#225da1;
	width: 100vw;
	height: 400px;
	color: white;
}

.privacy__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 30px;
	line-height: 20px;
}

.privacy__navbar img:hover {
	cursor: pointer;
}

.privacy__navbar li {
	list-style: none;
}

.privacy__navbarLeft a,
.privacy__navbarRight a {
	font-size: 17px;
	text-decoration: none;
	color: #f4f4f4;
	font-weight: 500;
}

.privacy__navbarLeft a::after,
.privacy__navbarRight a::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #efaf45;
	transition: width 0.3s;
}

.privacy__navbarLeft a:hover::after,
.privacy__navbarRight a:hover::after {
	width: 100%;
}

.privacy__navbarLeft {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	width: 48%;
	padding-left: 20px;
}

.privacy__navbarRight {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	width: 15%; /*30%*/
	padding-right: 20px;
}

.privacy__signinbtn {
	background: #efaf45;
	border-radius: 5px;
	padding: 10px 25px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	border: none;
}

.privacy__title {
	padding-top: 150px;
	padding-bottom: 100px;
}

.privacy__title p {
	color: white;
	font-weight: normal;
	font-size: 80px;
	line-height: 95px;
	text-align: center;
}

.privacy__main {
	background: #e5e5e5;
	padding: 0 12vw;
	padding-top: 150px;
	padding-bottom: 150px;
}

.privacy__main p {
	padding-left: 50px;
}

.privacy__main h1 {
	color: black;
	font-weight: normal;
	font-size: 35px;
	line-height: 50px;
	text-align: left;
	border-bottom: 1px solid black;
}

.privacy__main span {
	font-weight: bold;
}

.privacy__main ul {
	padding-left: 50px;
}

.privacy__main h2 {
	color: black;
	font-weight: bold;
	font-size: 17px;
	line-height: 32px;
	text-align: left;
}

.privacy__main h3 {
	color: black;
	font-weight: bold;
	font-size: 15px;
	line-height: 30px;
	text-align: left;
}

.privacy__descimg {
	width: 25%;
}

.privacy__footer {
	background: #182637;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10vw;
	padding-top: 125px;
	padding-bottom: 125px;
	color: white;
	font-family: 'Lato', sans-serif;
}

.privacy__footerleft img {
	padding-bottom: 25px;
}

.privacy__footerleft p {
	font-size: 15px;
	line-height: 15px;
}

.privacy__footerright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 15%; /*40%*/
}

.privacy__footerright p {
	font-size: 15px;
	line-height: 20px;
}

.privacy__footer a {
	color: white;
}

	.privacy__footer a:hover {
		color: #efaf45;
	}
