@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.team {
	font-family: 'Lato', sans-serif;
}
.team__header {
	background: linear-gradient(180deg, #182637 0%, rgba(34, 93, 161, 0) 238.01%),
		#225da1;
	width: 100vw;
	height: 400px;
	color: white;
}

.team__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 30px;
	line-height: 20px;
}

.team__navbar img:hover {
	cursor: pointer;
}

.team__navbar li {
	list-style: none;
}

.team__navbarLeft a,
.team__navbarRight a {
	font-size: 17px;
	text-decoration: none;
	color: #f4f4f4;
	font-weight: 500;
}

.team__navbarLeft a::after,
.team__navbarRight a::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #efaf45;
	transition: width 0.3s;
}

.team__navbarLeft a:hover::after,
.team__navbarRight a:hover::after {
	width: 100%;
}

.team__navbarLeft {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	width: 48%;
	padding-left: 20px;
}

.team__navbarRight {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	width: 30%;
	padding-right: 20px;
}

.team__signinbtn {
	background: #efaf45;
	border-radius: 5px;
	padding: 10px 25px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	border: none;
}

.team__title {
	padding-top: 150px;
	padding-bottom: 100px;
}

.team__title p {
	color: white;
	font-weight: normal;
	font-size: 80px;
	line-height: 95px;
	text-align: center;
}

.team__main {
	background: #e5e5e5;
	padding: 0 12vw;
	padding-top: 150px;
	padding-bottom: 150px;
}

.team__descimg {
	width: 25%;
}

.team__descOne,
.team__descThree,
.team__descFive {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.team__descOne p,
.team__descThree p,
.team__descFive p {
	width: 75%;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.6);
}

.team__descTwo,
.team__descFour,
.team__descSix {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.team__descTwo p,
.team__descFour p,
.team__descSix p {
	width: 75%;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.6);
}

.team__descimg p {
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 600;
	color: black;
}

.team__descOne,
.team__descTwo,
.team__descThree,
.team__descFour,
.team__descFive,
.team__descSix {
	padding-bottom: 50px;
}

.team__footer {
	background: #182637;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10vw;
	padding-top: 125px;
	padding-bottom: 125px;
	color: white;
	font-family: 'Lato', sans-serif;
}

.team__footerleft img {
	padding-bottom: 25px;
}

.team__footerleft p {
	font-size: 15px;
	line-height: 15px;
}

.team__footerright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
}

.team__footerright p {
	font-size: 15px;
	line-height: 20px;
}

.team__footer a {
	color: white;
}

.team__footer a:hover {
	color: #efaf45;
}

.vector_left {
	position: absolute;
	left: 0;
	top: 45%;
}
