.businessfooter{
  background-color: #242456; /* For browsers that do not support gradients */
  /* background-image: linear-gradient(white, #242456); /* Standard syntax (must be last) */
  color: white;
  height: auto;
  /* max-height: 150px;  June 20 */
  min-height: 75px;
  width: 100%;
  /* border-top: 2px solid #242456; June 20 */
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: inline-block; */
  padding-top: 10px;
  padding-bottom:20px;
  float:none;
}
#dropdown{
  display: none;
  width: 50%;
}
@media only screen and (max-width: 645px) {
  div.column {
    display: none;
 }
  #dropdown{
    display:block;
    float: right;
  }
  .motivationalcontent{
    width: 50%;
    float: left;
    margin-left: 0px;
    float: center;
  }
  .businessFooter{
    height: auto;
    /* max-height: 250px; June 20 */
  }
}

.businessfooter h1{
  color: white;
  font-size: 20px;
}
.businessfooter h2{
  color: white;
  font-size: 9px;
}
.businessfooter h3{
  /* color: white;  June 20 */
  color:#ffab3e; /*june 20*/
  font-size: 14px;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  /* font-size: 13px; */

}
.businessfooter h4{
  /* color: white;  June 20 */
  color:#242456; /*june 20*/
  font-size: 14px;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  /* font-size: 8px; */
}
.businessfooter h1:hover, .businessfooter h2:hover, .businessfooter h4:hover{
  color: rgba(245, 172, 64);
}
.motivationalcontent{
  margin-left: 10%;
  float: left;
  max-width: 170px;
  /* max-height: 80px; June 20 */
}
.businessfooterdescription{
  max-width: 170px;
  max-height: 170px;

  /* max-height: 50px; June 20 */
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.wrapper{
  position: relative; /*used to be absolute??*/
  top:0;
  max-width: 15000px;
  float:none;
}
.column{
  display: inline-flex;
  width: 10%;
  padding: 5px;
  height: auto;
  /* max-height: 100px; June 20 */
  margin-left: 5%;
  margin-right: auto;
  margin-bottom: auto;
  text-align: left; /*center june 20*/
  line-height: 1.2;
  top: 0;
}
